* {
    margin: 0;
}

body{
    background-image: url("./assets/landing.png");
    z-index: -1;
    color: aliceblue;
}

#main {
    height: 680px;
    width: 1320px;
    background-color: lightcoral;
    margin: 4rem auto;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align:justify;
}

#main-board {
    position: relative;
    width: 100%;
    height: 640px;
    background-image: url('./assets/fondo.png');
    background-position: 0 -250px;
    background-repeat: no-repeat;
    overflow: hidden;
}

#score {
    width: 100%;
    height: 40px;
    background-color: gray;
    display: flex;
    justify-content: start;
    align-items: center;
}

#player {
    width: 100px;
    height: 100px;
    background-image: url("./assets/cavem.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#enemy {
    width: 150px;
    height: 10px;
    background-image: url('./assets/Spear.png');
    background-size: contain;
    position: absolute;
}

#fruit {
    width: 25px;
    height: 25px;
    background-image: url("./assets/Fruit.png");
    background-position-y: -5px;
    position: absolute;
    background-size: cover;
}

.life {
    height: 25px;
    width: 25px;
    margin-left: 1rem;
    background-image: url('./assets/Heart.png');
    background-size: cover;
    animation: beat 0.5s infinite alternate;
}

@keyframes beat {
    to {
        transform: scale(1.1);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    flex-direction: column;
}

#start{
    /*display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 90vh;
}

#over {
    background-image: url('./assets/Death.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    padding:0;
    margin:0;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    
}